.puzzle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.special-box {
  background-image: url("../../assets/puzzle-bg.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border: 2pt solid rgb(19, 17, 17);
}

@media only screen and (max-width: 1024px) {
  .special-box {
    margin-right: 0;
  }
}
