.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 85px);
}

.welcome-text {
  font-size: 48px;
  max-width: 580px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 142px);
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .welcome-text {
    font-size: 32px;
    max-width: 460px;
  }
}
