.puzzle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 85px);
}

.special-box {
  background-color: aliceblue;
  padding: 5pt;
  margin-right: 30pt;
  border: 2pt solid rgb(19, 17, 17);
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0;
  border: none;
  margin-top: 30px;
}

.shadow {
  position: absolute;
  top: 0px;
  left: 0;
  width: 150px;
  height: 60px;
  border-radius: 12px;
  background: #000;
  transform: translateY(2px);
}

.edge {
  position: absolute;
  top: 0px;
  left: 0;
  width: 150px;
  height: 60px;
  border-radius: 12px;
  background: #a30036;
}

.yassified-button {
  display: block;
  position: relative;
  padding: 12px 42px;
  border: 2px solid black;
  border-radius: 12px;
  color: white;
  background: #f0003c;
  transform: translateY(-4px);
  cursor: pointer;
  font: 1.25em "Poppins", serif;
  font-weight: bold;
  width: 150px;
  height: 60px;
}

.next-button {
  background: #39df23;
}

.next-edge {
  background: #136813;
}

.pushable:active .yassified-button,
.pushable:active .auth-yassified-button {
  transform: translateY(-6px);
}

.pushable:active .shadow,
.pushable:active .auth-shadow {
  transform: translateY(4px);
}

.pushable:hover .yassified-button,
.pushable:hover .auth-yassified-button {
  transform: translateY(-2px);
}

.pushable:hover .shadow {
  transform: translateY(1px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.instructions {
  font-size: 16px;
  margin: 20px 0;
}

.timer {
  font-size: 20px;
  font-weight: bold;
  color: #136813;
}

.start-now-modal {
  background-color: #e1e1db;
  border: 2px solid #090909;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .puzzle-container {
    margin-top: 40px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 142px - 40px);
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .special-box {
    margin-right: 0;
    margin-bottom: 20pt;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
    width: unset;
  }
  .instructions {
    text-align: center;
    margin-bottom: 0;
  }
  .pushable {
    margin-top: 20px;
  }
  .yassified-button,
  .edge,
  .shadow {
    width: 100px;
    height: 40px;
    font: 1em "Poppins", serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timer {
    text-align: center;
  }
}
