.login-root {
  font-family: "HelveticaRounded", sans-serif;
  display: flex;
  height: 600px;
  width: 800px;
}

.login-left-root {
  background-image: url("../../assets/puzzle-bg.jpg");
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  flex: 1;
}

.login-left-text {
  font-size: 48px;
  color: white;
  font-weight: 600;
  margin: 10% 0 0 20%;
}

.login-right-root {
  flex: 1;
}

.login-right-root-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  font-family: 'OmnesReg', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  font-size: 18px;
}

.login-input-wrapper {
  position: relative;
  width: 80%;
}

.login-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.login-email-input {
  width: 100%;
  background-color: #ee6751 !important;
  border-radius: 8px;
  color: white;
  border-width: 0;
  font-weight: 300;
  padding: 4px 16px 4px 50px;

}

.login-email-input::placeholder {
  color: white;
}

.login-password-input {
  background-color: #d0d64e !important;
  width: 100%;
  border-radius: 8px;
  color: white;
  border-width: 0;
  font-weight: 300;
  padding: 4px 16px 4px 50px;
}

.login-password-input::placeholder {
  color: white;
}

.login-submit {
  margin-top: 10px;
  background-color: #00aab9;
}

.login-goto-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  .login-root {
    width: 100%;
    height: 300px;
  }

  .login-left-root {
   display: none;
  }
}