@font-face {
  font-family: "HelveticaRounded";
  src: local("HelveticaRounded"),
    url("./fonts/HelveticaRounded.otf") format("opentype");
}

@font-face {
  font-family: "OmnesReg";
  src: local("OmnesReg"),
    url("./fonts/OmnesReg.otf") format("opentype");
}

.App {
  font-family: "HelveticaRounded", sans-serif;
}


