body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-dialog {
  max-width: 800px !important;
}

.modal-content {
  border-radius: 40px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}


@media only screen and (max-width: 768px) {
  .modal-dialog {
    max-width: 400px;
  }
}
