.first-puzzle-root {
  background-color: #5d6d87;
}

.at-logo {
  width: 200px;
  padding: 20px 0 0 20px;
}

.header-text {
  font-size: 52px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: #6ec4d7;
  max-width: 800px;
}

.second-puzzle-root {
  background-color: #2b2c2e;
}

.third-puzzle-root {
  background-color: #6e754c;
}

.puzzle-containers {
  padding: 50px 0;
}

.fixed-timer {
  font-family: "OmnesReg", sans-serif;
  font-size: 18px;
  font-weight: 500;
  z-index: 4;
  position: fixed;
  top: 2px;
  right: 30px;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .at-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .header-text {
    font-size: 24px;
    padding: 30px 10px 10px 10px;
  }

  .puzzle-containers {
    padding: 40px 0;
  }

  .fixed-timer {
    right: 15px;
  }
}

.header-buttons {
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #6288b5;
  width: 300px;
  margin: 50px auto;
  border: none;
}
.step1-btn {
  color: #3c5a7e;
  border-radius: 22px;
  border: none;
  height: 100%;
  width: 33%;
  background-color: #6288b5;
  font-size: 20px;
  font: OmnesReg;
}
.step1-btn:hover {
  background-color: #9ac221;
  color: white;
}
.step2-btn {
  color: #3c5a7e;
  border-radius: 22px;
  border: none;
  height: 100%;
  width: 33%;
  background-color: #6288b5;
  font: OmnesReg;
  font-size: 20px;
}
.step2-btn:hover {
  background-color: #9ac221;
  color: white;
}
.step3-btn {
  color: #3c5a7e;
  border-radius: 22px;
  border: none;
  height: 100%;
  width: 34%;
  font: OmnesReg;
  background-color: #6288b5;
  font-size: 20px;
}
.step3-btn:hover {
  background-color: #9ac221;
  color: white;
}
