.at-logo {
  width: 200px;
  padding: 20px 0 0 20px;
}

.header-text {
  font-size: 52px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  color: #6ec4d7;
  max-width: 800px;
}

.puzzle-containers {
  padding: 0 0 80px 0;
}

.fixed-timer {
  font-family: "OmnesReg", sans-serif;
  font-size: 18px;
  font-weight: 500;
  z-index: 4;
  position: fixed;
  top: 2px;
  right: 30px;
  color: white;
}

.next-button-container {
  padding: 30px 50px;
  background-color: #e1e1db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
  font-size: 24px;
  font-family: "HelveticaRounded", sans-serif;
  text-align: center;
  border-radius: 8px;
}

.next-button {
  font-size: 20px;
}

.header-buttons {
  border-radius: 22px;
  background-color: #7b8ca6;
  width: 50%;
  margin: 30px auto;
  border: none;
  height: 24px;
}

.active-btn {
  background-color: #d1d952;
  color: white;
  border-radius: 22px;
  border: none;
  width: 33.33%;
  font-size: 14px;
  text-transform: uppercase;
  height: 100%
}

.active-btn span {
  font-size: 15px;
}

.disabled-btn {
  color: #5e6e88;
  border-radius: 22px;
  border: none;
  width: 33.33%;
  background-color: #7b8ca6;
  font-size: 14px;
  text-transform: uppercase;
  height: 100%
}

.disabled-btn span {
  font-size: 15px;
}

@media only screen and (max-width: 1024px) {
  .at-logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .header-text {
    font-size: 24px;
    padding: 30px 10px 10px 10px;
  }

  .fixed-timer {
    right: 15px;
  }

  .header-buttons {
    width: 75%;
  }
}
